@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #121212;
  --header-color: #1f1f1f;
  --text-white: #f5f5f5;
  --text-grey: #777777;
  --active-color: #53b7ba;
  --active-hover-color: #3da4a5;
  --focus-color: #e84244;
  --focus-hover-color: #c92828;
  --tone-up-color: #30363c;
  --tone-down-color: #24282b;
  --tone-deep-color: #171a1c;
  --red-color: #e84244;
  --green-color: #55ca45;
  --win-color: var(--green-color);
  --lose-color: var(--red-color);
  --scrollbar-bg-color: var(--tone-deep-color);
  --scrollbar-th-color: var(--tone-down-color);
  --online-color: var(--green-color);
  --in-game-color: var(--red-color);
  --offline-color: var(--text-grey);
  --owner-color: var(--red-color);
  --staff-color: var(--green-color);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'DungGeunMo';
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-white);
  height: 100vh;
  overflow: hidden;
}

button {
  font-family: 'DungGeunMo';
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-white);
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}
button:active {
  transform: scale(0.98);
}
button:disabled {
  cursor: default;
}
button:disabled:active {
  transform: scale(1);
}

main {
  text-align: center;
  margin: 0 5%;
}

::-webkit-scrollbar {
  background-color: var(--scrollbar-bg-color);
  border-radius: 16px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-th-color);
  border-radius: 16px;
}
