.container {
  display: flex;
  justify-content: center;
}

.sidebar {
  margin-right: 48px;
  font-size: 20px;
}

.items {
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
  max-height: 70vh;
  width: 50%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  gap: 16px;
}

.items::-webkit-scrollbar {
  background-color: var(--scrollbar-bg-color);
  border-radius: 16px;
}
.items::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-th-color);
  border-radius: 16px;
}

.item {
  display: flex;
  align-items: center;

  width: 100%;

  color: var(--text-white);
  background-color: var(--tone-up-color);

  position: relative;
  overflow: hidden;
}

.item.offline::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.item:hover {
  background-color: var(--tone-down-color);
}

.info {
  flex: 1;
  align-items: center;
}
.name {
  margin-bottom: 8px;
  font-size: 18px;
}

.status.online {
  color: var(--online-color);
}
.status.offline {
  color: var(--offline-color);
}
.status.in-game {
  color: var(--in-game-color);
}

.add {
  width: 100%;
  background-color: var(--focus-color);
  color: var(--text-white);
  font-size: 20px;
}
.add:hover {
  background-color: var(--focus-hover-color);
}
