.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  margin-top: 100px;
}

.content img {
  width: 100px;
}

.content h1 {
  font-size: 48px;
}

.content button {
  cursor: pointer;
  background-color: var(--active-color);
  border: none;
  border-radius: 0.125rem;
  width: 250px;

  font-size: 32px;
  padding: 10px;
  color: var(--text-color);
}

.content button:active {
  transform: scale(0.98);
}
