.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 25%;
  left: 50%;
  min-width: 300px;
  max-width: 500px;

  background-color: var(--tone-up-color);
  color: var(--text-white);
  padding: 24px 16px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(-50%, -3rem);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--tone-deep-color);
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.footer-button {
  background-color: red;
  color: var(--text-white);
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.confirm {
  background-color: var(--active-color);
}
.cancel {
  background-color: var(--tone-deep-color);
}
.delete {
  background-color: var(--focus-color);
}

.confirm:hover {
  background-color: var(--active-hover-color);
}
.cancel:hover {
  background-color: #030303;
}
.delete:hover {
  background-color: var(--focus-hover-color);
}

.user-wrapper {
  width: 100%;
  background-color: var(--tone-down-color);
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

.input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 16px;
}

.input-field .title {
  width: 80px;
}

.input-field .toggle {
  flex: 1;

  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.toggle label {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #1f1f1f;
  color: #777777;
  border-radius: 4px;
}

.toggle input {
  display: none;
}

.toggle label:has(input:checked) {
  background-color: var(--active-color);
  color: var(--text-white);
}

.input-field .input {
  flex: 1;
  padding: 8px 16px;
  background-color: var(--tone-deep-color);
  border: none;
  outline: none;
  border-radius: 4px;
  color: var(--text-white);
}
.input-field .input:disabled {
  background-color: var(--tone-down-color);
}

.list-button {
  width: 100%;
  background-color: inherit;
  color: var(--text-white);
  border: none;
  font-size: 16px;
  padding: 8px;
}
.list-button:not(:last-of-type) {
  margin-bottom: 4px;
}

.list-button:hover {
  border-radius: 4px;
  background-color: var(--tone-down-color);
}

.list-button:disabled {
  background: none;
  color: #777777;
}
