.header {
  background: var(--header-color);
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.nav_list {
  display: flex;
  margin-left: 5%;
}

.nav_list li {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 32px;
}

.nav_list .logo {
  width: 80px;
  margin-right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list li a {
  padding: 12px;
  margin: 12px;
}

.nav_list li a:hover {
  background-color: var(--background-color);
  border-radius: 8px;
}

.nav_list li a.active::after {
  content: '';
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -4px;
  left: 0;
  border-bottom: 4px dashed var(--active-color);
}

.icon_list {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.icon_item {
  width: 36px;
  height: 36px;
  padding: 6px;

  position: relative;
}

.toggle {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
}

.toggle img {
  width: 100%;
  height: 100%;
}

.new {
  background-color: var(--focus-color);
  padding: 4px;
  border-radius: 50%;
  color: var(--text-white);
  font-size: 12px;
  position: absolute;
  top: -8px;
  right: 0;
}

.dropdown {
  background-color: var(--tone-deep-color);
  border-radius: 8px;
  max-height: 300px;
  overflow: auto;

  position: absolute;
  transform: translate(-90%, 8px);

  padding: 16px 0;
  z-index: 30;

  white-space: nowrap;
  border: 1px solid var(--active-color);
}

.no-content {
  margin: 16px;
}

.dropdown-list {
  margin: 0 8px;
}

.dropdown-list:not(:last-child) {
  border-bottom: 1px solid var(--tone-down-color);
  margin-bottom: 8px;
}

.dropdown-list button {
  background-color: inherit;
  color: var(--text-white);

  border: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
  font-size: 16px;
  padding: 8px;
}

.dropdown-list button:hover {
  border-radius: 8px;
  background-color: var(--tone-down-color);
}

.dropdown-list small {
  display: block;
  margin-left: 8px;
  margin-bottom: 4px;
  width: 100%;
  color: var(--active-color);
}

.game-invitation-list {
  z-index: 10;
  position: absolute;
  right: 16px;
  top: 80px;

  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;

  max-height: 80vh;
  width: 320px;
  overflow: auto;
}

.game-invitation-item {
  background-color: var(--tone-deep-color);
  border-radius: 8px;
  padding: 16px 8px;
  border: 1px solid var(--active-color);
  width: 100%;
}

.game-invitation-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
}

.game-invitation-buttons button {
  padding: 4px 16px;
  border: none;
  border-radius: 4px;
  background: var(--tone-up-color);
  color: var(--text-white);
}

.game-invitation-buttons button:hover {
  background-color: var(--tone-down-color);
}

.game-invitation-buttons button:disabled {
  background-color: var(--tone-deep-color);
  color: #777777;
}

.feedback {
  color: var(--focus-color);
}
