.header {
  background: var(--header-color);
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.nav_list {
  display: flex;
  margin-left: 5%;
}

.nav_list li {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 32px;
}

.nav_list .logo {
  width: 80px;
  margin-right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list li a {
  padding: 12px;
  margin: 12px;
}

.nav_list li a:hover {
  background-color: var(--background-color);
  border-radius: 8px;
}

.nav_list li a.active::after {
  content: '';
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -4px;
  left: 0;
  border-bottom: 4px dashed var(--active-color);
}

.icon_list {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.icon_item {
  width: 36px;
  height: 36px;
  padding: 6px;

  position: relative;
}

.toggle {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
}

.toggle img {
  width: 100%;
  height: 100%;
}

.new {
  background-color: var(--focus-color);
  padding: 4px;
  border-radius: 50%;
  color: var(--text-white);
  font-size: 12px;
  position: absolute;
  top: -8px;
  right: 0;
}
